/dts-v1/;
#include <config.h>

#include "mt6768.dtsi"
#include "skeleton64.dtsi"

/ {
#if defined(CONFIG_XIAOMI_MERLIN)
    model = "Xiaomi Redmi Note 9";
    compatible = "xiaomi,merlin";

    framebuffer {
        compatible = "simple-framebuffer";
        reg = <0 0x7d9b0000 0 (1088 * 2340 * 4)>;
        rot = <0>;
        width = <1080>;
        height = <2340>;
        stride = <(1088 * 4)>;
        format = "a8r8g8b8";
        status = "okay";
    };
#else
    model = "MediaTek MT6768-based device";
    compatible = "generic,mt6768";
#endif

    chosen {
        tick-timer = &gpt;
    };

    memory@40000000 {
        /* see dram_init() (2 GiB) */
        reg = <0 0x40000000 0 0x80000000>;
        device_type = "memory";
    };
};

&uart0 {
    status = "okay";
};

&usb2 {
    status = "okay";
};

&usb2phy {
    status = "okay";
};

&usb2port0 {
    status = "okay";
};
