#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/clock/mediatek,mt6768-clk.h>

/ {
    compatible = "mediatek,mt6768";
    interrupt-parent = <&gic>;
    #address-cells = <2>;
    #size-cells = <2>;

    psci {
        compatible = "arm,psci-1.0";
        method = "smc";
    };

    cpus {
        #address-cells = <1>;
        #size-cells = <0>;

        cpu0: cpu@0 {
            device_type = "cpu";
            compatible = "arm,cortex-a55";
            reg = <0x000>;
            mediatek,hwver = <&hwver>;
        };

        cpu1: cpu@1 {
            device_type = "cpu";
            compatible = "arm,cortex-a55";
            reg = <0x001>;
            mediatek,hwver = <&hwver>;
        };

        cpu2: cpu@2 {
            device_type = "cpu";
            compatible = "arm,cortex-a55";
            reg = <0x002>;
            mediatek,hwver = <&hwver>;
        };

        cpu3: cpu@3 {
            device_type = "cpu";
            compatible = "arm,cortex-a55";
            reg = <0x003>;
            mediatek,hwver = <&hwver>;
        };

        cpu4: cpu@100 {
            device_type = "cpu";
            compatible = "arm,cortex-a55";
            reg = <0x004>;
            mediatek,hwver = <&hwver>;
        };

        cpu5: cpu@101 {
            device_type = "cpu";
            compatible = "arm,cortex-a55";
            reg = <0x005>;
            mediatek,hwver = <&hwver>;
        };

        cpu6: cpu@102 {
            device_type = "cpu";
            compatible = "arm,cortex-a75";
            reg = <0x006>;
            mediatek,hwver = <&hwver>;
        };

        cpu7: cpu@103 {
            device_type = "cpu";
            compatible = "arm,cortex-a75";
            reg = <0x007>;
            mediatek,hwver = <&hwver>;
        };
    };

    hwver: hwver {
        compatible = "mediatek,hwver", "syscon";
        reg = <0 0x8000000 0 0xc>;
    };

    clocks {
        system_clk: fixed-factor-13m {
            compatible = "fixed-clock";
            #clock-cells = <0>;
            clock-frequency = <13000000>;
            clock-output-names = "system-clk";
        };

        clk26m: oscillator-26m {
            compatible = "fixed-clock";
            #clock-cells = <0>;
            clock-frequency = <26000000>;
            clock-output-names = "clk26m";
        };
    };

    soc {
        #address-cells = <2>;
        #size-cells = <2>;
        compatible = "simple-bus";
        ranges;

        topckgen: syscon@10000000 {
		compatible = "mediatek,mt6768-topckgen", "syscon";
		reg = <0 0x10000000 0 0x1000>;
		#clock-cells = <1>;
	};

	infracfg: syscon@10001000 {
		compatible = "mediatek,mt6768-infracfg", "syscon";
		reg = <0 0x10001000 0 0x1000>;
		#clock-cells = <1>;
	};

	apmixedsys: syscon@1000c000 {
		compatible = "mediatek,mt6768-apmixedsys", "syscon";
		reg = <0 0x1000c000 0 0x1000>;
		#clock-cells = <1>;
	};

        wdt: watchdog@10007000 {
            compatible = "mediatek,mt6589-wdt";
            reg = <0 0x10007000 0 0x1000>;
            interrupts = <GIC_SPI 156 IRQ_TYPE_LEVEL_LOW>;
            timeout-sec = <15>;
            #reset-cells = <1>;
        };

        gpt: timer@10008000 {
            compatible = "mediatek,mt6577-timer";
            reg = <0 0x10008000 0 0x1000>;
            interrupts = <GIC_SPI 185 IRQ_TYPE_LEVEL_LOW>;
            clocks = <&system_clk>;
            clock-names = "system-clk";
        };

        gic: interrupt-controller@c000000 {
            compatible = "arm,gic-v3";
            #interrupt-cells = <3>;
            interrupt-parent = <&gic>;
            interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_HIGH>;
            interrupt-controller;
            reg =   <0 0xc000000 0 0x40000>,
                    <0 0xc040000 0 0x200000>;
        };

        uart0: serial@11002000 {
            compatible = "mediatek,mt6577-uart";
            reg = <0 0x11002000 0 0x1000>;
            interrupts = <GIC_SPI 112 IRQ_TYPE_LEVEL_LOW>;
            clocks = <&clk26m>;
            clock-names = "clk26m";
            mediatek,force-highspeed;
            reg-shift = <2>;
            status = "disabled";
        };

        uart1: serial@11003000 {
            compatible = "mediatek,mt6577-uart";
            reg = <0 0x11003000 0 0x1000>;
            interrupts = <GIC_SPI 113 IRQ_TYPE_LEVEL_LOW>;
            clocks = <&clk26m>;
            clock-names = "clk26m";
            mediatek,force-highspeed;
            reg-shift = <2>;
            status = "disabled";
        };

        usb2: usb@11200000 {
            compatible = "mediatek,mt6768-musb";
            reg = <0 0x11200000 0 0x1000>;
            reg-names = "control";
            interrupts = <GIC_SPI 97 IRQ_TYPE_LEVEL_LOW>;
            interrupt-names = "mc";
            phys = <&usb2port0 PHY_TYPE_USB2>;
            phy-names = "usb";
            clocks = <&clk26m>, <&topckgen CLK_TOP_USB_TOP_SEL>, <&topckgen CLK_TOP_UNIVPLL3_D4>;
            clock-names = "usbpll", "usbmcu", "usb";
            status = "disabled";
        };

        usb2phy: t-phy@11cc0000 {
            compatible = "mediatek,generic-tphy-v1";
            reg = <0 0x11cc0000 0 0x800>;
            #address-cells = <2>;
            #size-cells = <2>;
            ranges;
            status = "disabled";

            usb2port0: usb-phy@11cc0800 {
                reg = <0 0x11cc0800 0 0x100>;
                clocks = <&clk26m>;
                clock-names = "ref";
                #phy-cells = <1>;
            };
        };
    };
};
